<section class="bodyColor">
    <div class="container body col-md-4 h-75 p-3">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Confirm Password</header>
           
            <p style="color: red; text-align: center; margin-bottom: 10px"></p>
            <form action="/resetPassword" method="post">
                <input type="email" placeholder="Re-enter your email" id="email" name="email" value="{{email}}">
                <input type="password" placeholder="Enter your password" id="password" name="password">
                <input type="password" placeholder="Confirm your password" id="confirmPassword" name="confirmPassword">
                <input type="submit" class="button" value="submit">
            </form>
        </div>
    </div>
</section>